body {
    background-color: #e3e3e3;
  }

h1 {
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 500;
    line-height: 1;
    color: #1c1c1c;
    margin-top: 0;

  }

  .container{
    display: flex;
    overflow: auto;
    
  }
  
  .side{
    flex: 10;
    height: 100vh;
    overflow: scroll;
    line-height: 300px;
  }
  
  .content{
    flex: 10;
    height: 100vh;
    overflow: scroll;
    line-height: 300px;
  }

  a:link {
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(38, 0, 255);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }